* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.content {
    background-color: #93caf4;
    width: 95vw;
    margin-top: 90px;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.left-artical {
    width: 35vw;
    align-self: center;
    padding: 10px;
}

.you-know {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    color: #0e3a5b;
    padding-top: 18px;
    opacity: 90%;

}

.offer {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    color: #0e3a5b;
    padding-top: 8px;
    opacity: 90%;
}

.sevntyfive {
    font-size: 2.7em;
    font-family: sans-serif;
    font-weight: bold;
    color: rgb(116, 33, 33);
}

.right-artical-image {
    display: flex;
    justify-content: center;
    width: 20vw;
    min-width: 220px;
    height: auto;
    align-items: end;
}

.bggirl {
    width: 38vw;
    height: auto;
}

.login-form {
    min-width: 330px;
    width: 30vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h2 {
    font-family: sans-serif;
    font-size: 2.1em;
    font-weight: bold;
    margin: 10px;
}

input {
    width: 85%;
    height: 50px;
    border: 0px solid white;
    background: transparent;
    border-bottom: 1px solid #000000;
    margin-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    outline: none;
    background: transparent;
    color: rgba(0, 0, 0);
    text-align: center;
    font-size: 1.1em;
}

select {
    width: 35%;
    height: 6vh;
    border: 0px solid white;
    background: transparent;
    border: none;
}

.submit {
    width: 60%;
    height: 50px;
    border: 1px solid #0e3a5b;
    border-radius: 25px;
    background-color: #0e3a5b;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    margin: 30px;
    transition: .3s;
}

.submit:hover {
    background-color: #93caf4;
    scale: 1.05;
    transition: .3s;
    transform: translateY(-5px);
}

@media (min-width: 100px) and (max-width: 700px) {
    .left-artical {
        width: 95vw;
        text-align: center;

    }

    .right-artical-image {
        width: 40vw;
    }

    .bggirl {
        width: 60vw;
    }

    .login-form {
        min-width: 250px;
        width: 85vw;
        margin-bottom: 20px;
    }
}

@media (min-width: 700px) and (max-width: 950px) {
    .left-artical {
        width: 50vw;
    }

    .login-form {
        min-width: 300px;
        width: 60vw;
        margin-bottom: 20px;
    }
}