* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

main {
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;

}

:root {
    --btnHeight: 40px;
    --btnWidth: 140px;
    --hoverColor: #81bcea;
}

/* ----------header------------- */

header {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 2;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    width: 33vw;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav-logo h3 {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    opacity: 80%;
    cursor: pointer;
}
.web-link{
    text-decoration: none;
    color: black;
    opacity: 80%;
}
.web-link:hover {
    color: var(--hoverColor);
}

.nav-image {
    max-width: 60px;
}

.others-nav-elements {
    width: 50vw;
    height: auto;
}

.others-nav-elements ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}

.others-nav-elements ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.05em;
    font-weight: 500;
    transition: .3s;
}

.others-nav-elements ul li a:hover {
    color: var(--hoverColor);
    transition: .3s;
}

.others-nav-elements ul li:hover {
    scale: 1.1;
    transition: .3s;
    transform: translateY(-2px);
}

.apply-button {
    margin-right: 20px;
    width: var(--btnWidth);
    height: var(--btnHeight);
    font-size: 1.05em;
    font-weight: bold;
    color: white;
    background-color: rgb(44, 10, 77);
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.apply-button:hover {
    background-color: #81bcea;
    cursor: pointer;
    transform: translateY(-3px);
    transition: .3s ease-in-out;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
}

.menu-icon span {
    display: none;
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    background-color: #000;
}

.menu {
    position: relative;
}


.nav-table-elements2 {
    width: 150px;
    height: 200px;
    position: absolute;
    display: none;
    top: 100%;
    left: -100%;
    background-color: #81bcea;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.menu:hover .nav-table-elements2 {
    display: block;
}

.nav-table-elements2 ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-top: 20px;
}

.nav-table-elements2 ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.05em;
    font-weight: 500;
    transition: .3s;
}

.nav-table-elements2 ul li a:hover {
    color: white;
    transition: .3s;
}

.nav-table-elements2 ul li:hover {
    scale: 1.1;
    transition: .3s ease-in-out;
    transform: translateY(-2px);
}

/* --------------nav-to-top------------- */
.arrow {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 85vh;
    right: 2vw;
    border-radius: 8px;
    background-color: rgb(175, 177, 168, 0.5);
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    display: none;
    transition: .3s ease-in-out;
}

.arrow:hover {
    scale: 1.1;
    transition: .3s ease-in-out;
    transform: translateY(-10px);
    background-color: #81bcea;
    opacity: 90%;
}

/* ------------------intro-banner---------------- */
.intro-banner {
    width: 95vw;
    height: auto;
    background-color: #94cbf4;
    margin: auto;
    margin-top: 90px;
    border-radius: 20px;
    display: flex;
}

.banner-right {
    padding: 20px;
    width: 55vw;
    height: auto;
    margin: auto;
    align-items: center;
}

.banner-left {
    min-width: 30vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.banner-girl {
    width: 70%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}

.banner-text {
    font-size: 3.1em;
    font-family: sans-serif;
    font-weight: bold;
    color: #0e3a5b;
    opacity: 85%;
}

.banner-down-text {
    width: 50vw;
    font-family: sans-serif;
    font-size: 1.09em;
    line-height: .7cm;
    opacity: 85%;
}

.red-highlight {
    color: rgb(115, 9, 9);

}

.banner-apply-button {
    margin-top: 20px;
    width: var(--btnWidth);
    height: var(--btnHeight);
    font-size: 1.05em;
    font-weight: bold;
    color: white;
    background-color: #0e3a5b;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.banner-apply-button:hover {
    background-color: #81bcea;
    cursor: pointer;
    transform: translateY(-3px);
    transition: .3s ease-in-out;
}

.banner-apply-button:hover {
    background-color: #81bcea;
}

/* ----------------why-sudhir------------- */
.after-intro {
    width: 95vw;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-between;
}

.why-left-side {
    width: 45vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.why-right-text {
    width: 45vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.faculty {
    font-weight: bold;
    font-size: 1.35em;
    width: 21vw;
    min-width: 180px;
    height: 180px;
    margin-top: 25px;
    background-color: #d4eaf8;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.faculty:hover {
    transition: .3s ease-in-out;
    transform: translateY(-10px);
}

.faculty h4 {
    margin-bottom: 20px;
}

.faculty img {
    width: 80px;
    background-color: #0e3a5b;
    border-radius: 50%;
    box-shadow: 2px 5px 5px #94cbf4;
    height: auto;
}

.round-img-logo {
    margin: auto;
    object-fit: cover;
}

.blend {
    background-blend-mode: multiply;

}

.down-banner-text {
    font-size: 3em;
    font-family: sans-serif;
    font-weight: bold;
    color: #0e3a5b;
}

.down-banner-text span {
    display: block;
}

.why-right-text p {
    font-size: 1.05em;
    line-height: .7cm;
}

/* ---------------our mission----------------- */

.our-mission,
.our-vision {
    width: 95vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.our-mission-left,
.our-vision-right {
    padding: 20px;
    width: 45vw;
    height: auto;
}

.our-mission-right,
.our-vision-left {
    width: 45vw;
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.our-vision-right {
    line-height: 2em;
}

.main-images,
.main-images1 {
    margin: auto;
    max-width: 100%;
    height: auto;
    width: 90vw;
    max-width: 450px;
    mix-blend-mode: multiply;
}

.our-mis-to-text {
    font-size: 2.6em;
    font-family: sans-serif;
    font-weight: bold;
    opacity: 90%;
}

li,
.hide-text {
    list-style-position: inside;
    padding: 1.7%;
    font-size: 1em;
    font-family: sans-serif;
    opacity: 90%;
    color: #041523;

}

.hide-text {
    display: none;
}

.show {
    display: block;
}

.show-less-text {
    padding-left: 2%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.1em;
    font-family: sans-serif;
    color: #81bcea;
    transition: .3s ease-in-out;
}

.show-less-text:hover {
    transform: translateX(5px);
    scale: 1.1;
    transition: .3s ease-in-out;
}

/* ---------------upper-courses------------ */
.our-courses {
    width: 95vw;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.upper-our-courses {
    width: 95vw;
    font-size: 1.4em;
    opacity: 80%;
    display: flex;
    flex-direction: column;
}

.upper-our-courses h1 {
    margin-left: 1.5%;
}

.upper-our-courses span {
    color: rgb(115, 9, 9);
}

.upper-our-courses div {
    display: flex;
}

.upper-our-courses button {
    margin-top: 20px;
    margin-left: 5%;
    border: none;
    width: 120px;
    height: 40px;
    background-color: transparent;
    font-family: sans-serif;
    font-size: .65em;
    cursor: pointer;
    color: #81bcea;
    transition: .3s ease-in-out;
}

.upper-our-courses button:hover {
    color: white;
    scale: 1.1;
    transition: .3s ease-in-out;
    transform: translateY(-5px);
    border-radius: 6px;
    background-color: #93caf4;

}

.down-div {
    width: 95vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: space-between;
}

.down-div div {
    width: 45vw;
    margin: auto;
    min-width: 330px;
    height: 350px;
    margin-top: 20px;

}

.bech-of-edu,
.dip-of-edu {
    background-color: #e9f4fc;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bech-of-edu li,
.dip-of-edu li {
    margin-top: 5px;
    list-style-position: inside;
}

.bech-main-text {
    width: 100%;
    font-size: 1.58em;
    cursor: pointer;
}

.bech-main-text:hover {
    color: #93caf4
}

.down-div div li {
    line-height: .4cm;
    opacity: 80%;
}

.down-div div button {
    width: 100%;
    margin: auto;
    height: 8.4vh;
    border: none;
    border-radius: 8px;
    background-color: #cae2f4;
    font-size: 1.05em;
    cursor: pointer;
}

.down-div div button:hover {
    color: white;
    background-color: #93caf4;
}

/* ----------------review----------- */

.reviews,
.quries,
footer {
    width: 95vw;
    height: auto;
}

.reviews h2,
.leftquries h2 {
    font-family: sans-serif;
    font-size: 2.2em;
    padding-left: 2%;
    padding-top: 2%;
    line-height: 1.3cm;
    opacity: 80%;
}

.div-reviews {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2%;
}

.div-reviews div {
    width: 45vw;
    margin: auto;
    min-width: 270px;
    margin-top: 20px;
    height: auto;
}

.Best-Instructors,
.Art-Infrastructure {
    background-color: #e9f4fc;
    padding: 20px;
    border-radius: 15px;
    line-height: .7cm;
    opacity: 80%;
    font-family: sans-serif;
    color: black;
    opacity: 80%;
}

.div-reviews span {
    color: #81bcea;

}

/* ----------------quiers----------- */

.quries {
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.leftquries {
    width: 45vw;
    margin: 0px auto 0px auto;
    height: auto;
    background-color: #e9f4fc;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightquries {
    margin: auto;
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rightquries img {
    margin: auto;
    width: 45vw;
    min-width: 290px;
    height: auto;
    border-radius: 20px;
}

.leftquries-icon {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.round-icon {
    min-width: 70px;
    height: 70px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81bcea;
    font-size: 2em;
    cursor: pointer;
}

.icon-text {
    margin-left: 20px;
}


.leftquries-icon h3 {
    font-size: 1.3em;
    margin-bottom: 1%;
}

.button-quries {
    margin-top: 50px;
    display: flex;
    column-gap: 10px;
    width: 100%;
    height: auto;
}

.button-quries button {
    width: 80%;
    height: 50px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: rgb(50, 15, 84);
    color: white;
    font-size: 1.1em;
    font-family: sans-serif;
    transition: .3s ease-in-out;
}

.button-quries button:hover {
    transition: .3s ease-in-out;
    transform: translateY(-5px);
    background-color: #81bcea;
}

/* -------------footer--------------- */

footer {
    width: 95vw;
    margin-top: 20px;
    background-color: #0e3a5b;
    text-align: center;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.footer-text {
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.footer-left {
    font-size: 1.9em;
    font-weight: bold;
    width: 25vw;
    text-align: end;
}

.footer-center {
    display: flex;
    justify-content: center;
    width: 35vw;
    cursor: pointer;
    padding-left: 10%;
}

.footer-center li {
    list-style-type: none;
}
.footer-center li a{
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}
.footer-center li :hover {
    color: #81bcea;
}

.footer-right {
    display: flex;
    width: 25vw;
    justify-content: center;
    cursor: pointer;
}

.footer-right img {
    width: 20px;
    height: 20px;
}

.footer-right li {
    list-style-type: none;
    transition: .3s ease-in-out;

}

.footer-right li:hover {
    scale: 1.2;
    transform: translateY(-5px);
    transition: .3s ease-in-out;
}

footer p {
    font-size: .8em;
    padding: 10px;
}

hr {
    color: white;
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}