@media (min-width: 700px) and (max-width: 950px) {

    .menu-icon span {
        display: block;
    }

    .others-nav-elements {
        display: none;
    }

    .nav-logo {
        width: 50vw;
    }

    .menu-icon {
        padding-top: 10px;
        cursor: pointer;
    }

    .why-left-side {
        justify-content: space-around;
    }

    .faculty {
        min-width: 40vw;
    }

    .leftquries {
        padding: 20px;
    }

    .leftquries-icon {
        margin-top: 20px;
    }

    .button-quries {
        margin-top: 25px;
    }

    .button-quries button {
        font-size: 1em;
    }

    .leftquries div h2 {
        padding: 0px;
        line-height: 1.4em;
        font-size: 1.8em;
    }

    .round-icon {
        min-width: 50px;
        height: 50px;
        font-size: 1.7em;
        transition: .3s ease-in-out;
    }
}

@media (min-width: 100px) and (max-width: 700px) {

    .menu-icon span {
        display: block;
    }

    .others-nav-elements {
        display: none;
    }

    .nav-logo {
        width: 50vw;
    }

    .nav-collage-name {
        font-size: 1em;
    }

    .apply-button {
        font-size: .8em;
    }

    .nav-image {
        max-width: 45px;
        height: auto;
    }

    .apply-button {
        width: 25vw;
    }

    .menu-icon span {
        display: block;
    }

    .menu-icon {
        padding-top: 10px;
        cursor: pointer;
    }

    .intro-banner {
        flex-direction: column;
    }

    .banner-right {
        width: 90vw;
    }

    .banner-main-text {
        width: 80vw;
    }

    .banner-down-text {
        width: 80vw;
        padding-right: 20px;
    }

    .why-left-side {
        width: 100%;
    }

    .why-right-text {
        margin-top: 2%;
        width: 100%;
    }

    .after-intro {
        flex-direction: column-reverse;
    }

    .why-left-side {
        justify-content: space-evenly;
    }

    .faculty {
        width: 45vw;
        min-width: 160px;
    }

    .our-mission,
    .our-vision {
        flex-direction: column;
    }

    .our-mission {
        flex-direction: column-reverse;
    }

    .our-mission-right,
    .our-vision-left {
        width: 95vw;
    }

    .our-mission-left,
    .our-vision-right {
        width: 95vw;
    }

    .down-div div {
        width: 90vw;
    }

    .div-reviews div {
        width: 90vw;
    }

    .leftquries,
    .rightquries {
        width: 90vw;
        margin-top: 30px;
    }

    .rightquries {
        row-gap: 30px;
    }

    .rightquries img {
        width: 90vw;
    }

    .footer-text {
        flex-direction: column;
    }

    .footer-center {
        width: 90vw;
        justify-content: center;
        padding-left: 0px;
    }

    .footer-center li {
        font-size: 1em;
    }

    .footer-left {
        width: 90vw;
        text-align: center;
    }

    .footer-right {
        margin-top: 5px;
        width: 50vw;
        justify-content: space-evenly;
    }

}