<%@page import="java.util.List"%>
<%@page import="com.files.entities.StudentDao"%>
<%@page import="java.util.ArrayList"%>
<%@page import="com.files.entities.Student"%>
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/studentProfile.css">
	<link rel="stylesheet" href="css/home.css">
	<link rel="stylesheet" href="css/mediaquery1.css">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
</head>
<script>
	function redirectToLogin() {
		window.open("studentlogin.html", "_blank");
	}
</script>

<body>
	<header>
		<div class="nav-logo">
			<img src="images/transparent-logo.png" alt="main collage logo " class="nav-image" />
			<h3><a href="index.html" class="web-link">Sudhir College Of Education</a></h3>
		</div>
		<div class="others-nav-elements">
			<ul>
				<li><a href="#our-courses">Courses</a></li>
				<li><a href="#Contact">Contact</a></li>
				<li><a href="studentlogin.html" target="_blank">Student Portal</a></li>
				<li><a href="adminlogin.html" target="_blank">Admin Login</a></li>
				<li><a href="about.html" target="_blank">About Us</a></li>
			</ul>
		</div>
		<div class="menu">
			<div class="menu-icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="nav-table-elements2">
				<ul>
					<li><a href="#our-courses">Courses</a></li>
					<li><a href="#Contact">Contact</a></li>
					<li><a href="studentlogin.html" target="_blank">Student Portal</a></li>
					<li><a href="adminlogin.html" target="_blank">Admin Login</a></li>
					<li><a href="about.html" target="_blank">About Us</a></li>
				</ul>
			</div>
		</div>
		<div class="apply-nav">
			<button class="apply-button" onclick="redirectToLogin()">Apply Now</button>
		</div>
	</header>
	<section class="section">
		<%   Student se=(Student)session.getAttribute("std");%>
    		<%   String id = request.getParameter("id");
       		 String pass = request.getParameter("pass");
       		 Student s= StudentDao.CheckLogin(id, pass);%> 
  				<% if (s!=null)
		{ %>	
		<div class="Details">
			<table>
				<th colspan="2">
					<h2>Student Profile Details :- <%=s.getFname() %>
							<%=s.getLanme() %>
					</h2>
				</th>
				<tr>
					<td>
						<h3>First Name :</h3>
					</td>
					<td>
						<%=s.getFname() %>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Last Name : </h3>
					</td>
					<td>
						<%=s.getLanme() %>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Father Name : </h3>
					</td>
					<td>
						<%=s.getFathername() %>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Gender : </h3>
					</td>
					<td>
						<%=s.getGender() %>
					</td>
				</tr>
				<tr>
					<td>
						<h3> Class Type : </h3>
					</td>
					<td>
						<%=s.getClasstype() %>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Adhar Card's Number : </h3>
					</td>
					<td>
						<%=s.getAdharnum() %>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Mobile Number : </h3>
					</td>
					<td>
						<input type="text" required name="monum" placeholder="Enter your 10-digit mobile number"
							pattern="\d{10}" title="Please enter a valid 10-digit mobile number"
							value="<%= s.getMobilenumb() %>" disabled />
					</td>
				</tr>
				<tr>
					<td>
						<h3>Gmail : </h3>
					</td>
					<td>
						<input type="email" required name="email" placeholder="Email / Gmail"
							pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
							title="Please enter a valid email address" value="<%= s.getGmail() %>" disabled />
					</td>

				</tr>
				<tr>
					<td>
						<h3>Password : </h3>
					</td>
					<td>
						<input type="text" name="pass" required
							pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,20}$"
							title="Password must be between 8 and 20 characters and include at least one uppercase letter, one lowercase letter, and one number"
							value="<%= s.getPass() %>" placeholder="Enter Password" disabled />
					</td>
				</tr>
			</table>
		</div>
		<div class="img"> <img src="images/Bg girl.png" alt="">
			<div><button class="apply-now">Change Mobile no.</button> <input type="number" placeholder=""></div>
			<div><button class="apply-now">Change Gmail/Email</button> <input type="number" placeholder=""></div>
			<div><button class="apply-now">Change &nbsp; Password</button> <input type="number" placeholder="">
			</div>
		</div>
		<div class="update" id="update">
			<span onclick="none()" id="exit">X</span>
			<table>
				<tr>
					<td><label for="name">Serial Number : </label></td>
					<td>
						<div style="display: flex;justify-content: center;"><img src=""
								alt="Student Profile Image" width="100px"
								style="border-radius: 50%;border: 1px solid red;" title="Click To update Image"></div>
					</td>
				</tr>
				<tr>
					<td><label for="name"> <span>*</span>First Name </label>
						<div><input type="text" name="name" id=""></div>
					</td>
					<td> <label for="name">Last Name </label>
						<div><input type="text" name="name" id=""></div>
					</td>
				</tr>
				<tr>
					<td> <label for="name"> <span>*</span>Father's Name </label>
						<div><input type="text" name="name" id=""></div>
					</td>
					<td> <label for="name"><span>*</span>Mobile Number </label>
						<div><input type="text" name="name" id=""></div>
					</td>
				</tr>
				<tr>
					<td> <label for="name"><span>*</span>Gmail/Email </label>
						<div><input type="text" name="name" id=""></div>
					</td>
					<td> <label for="name"><span>*</span>Password : </label>
						<div><input type="text" name="name" id=""></div>
					</td>
				</tr>
				<tr class="radio">
					<td>  <label for="name"><span>*</span>class Type </label>
						<div>
							<input type="radio" name="classt" id="" > Distance
							<input type="radio" name="classt" id=""> Regular
						</div>
					</td>
					<td> <label for="name"><span>*</span>Gender </label>
						<div>
							<input type="radio" name="gender" id=""> Male <input
								type="radio" name="gender"> Female
						</div>
					</td>
				</tr>
				<tr>
					<td> <label for="name"><span>*</span>Adhar Card's Number </label>
						<div><input type="text" name="name" id=""></div>
					</td>
					<td><button class="apply-button btn">Update</button></td>
				</tr>
			</table>
		</div>
	</section>
	<% } else { %>
	<% request.getRequestDispatcher("studentlogin.html").include(request, response); %>
	<div id="alertBox">⚠️ Either ID or Password is Wrong. Please Enter Right Credential ⚠️ </div>
	<%} %>
	<script>
		setTimeout(function () {
			document.getElementById('alertBox').style.display = 'none';
		}, 2000);
	</script>
</body>
</html>